<!doctype html>
<html>
    <head>
        <title>CodeCharger</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
         <link href="/stylesheets/app.css" rel="stylesheet"/>
    </head>
    <body>
        <nav class="nav navbar-light bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"> <img alt="Brand" src="/code-charger.png" width="50" height="50"></a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% }else { %>
                    <li><a href="#">Currently signed in as <%= currentUser.username %></a></li>
                    <li><a href="/logout">logout</a></li>
               <%  } %>
                
                
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <% if(error && error.length > 0 ){ %>
        <div class="alert alert-danger"><%= error %></h2></div>
    <% } if(success && success.length > 0 ) { %>
        <div class="alert alert-success"><%= success %></h2></div>
    <% } %>
</div>



