<% include partials/header %>
<div class="container">
    <h1>Welcome to Yelpcamp landing page</h1>

<a href="/campgrounds">Click here to see the campgrounds</a>

<% include partials/footer %>
    
</div>
