
.thumbnail img{
    width:100%;
}
.thumbnail{
    padding:0;
}
.thumbnail .caption-full{
    padding:7px;
}
.backbtn{
    margin:10px 10px 10px 0;
}

#delete-form,#commentDelete{
    display: inline;
}